@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);
* {
    padding: 0;
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

input:focus,
textarea:focus {
    outline: none;
}
/*----------------------*/

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
/*----------------------*/

header {
    padding: 8px 10%;
    border-bottom: 1px solid #fff;
    background-color: #777;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#555));
    background-image: -webkit-linear-gradient(top, #777, #555);
    background-image: -moz-linear-gradient(top, #777, #555);
    background-image: -ms-linear-gradient(top, #777, #555);
    background-image: -o-linear-gradient(top, #777, #555);
    background-image: linear-gradient(top, #777, #555);
    -moz-box-shadow: 0 -3px 3px rgba(0, 0, 0, .5) inset;
    -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, .5) inset;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, .5) inset;
}
/*----------------------*/

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background: #eee;
    border-bottom: 1px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

nav li {
    float: left;
}

nav #login {
    border-right: 1px solid #ddd;
    -moz-box-shadow: 1px 0 0 #fff;
    -webkit-box-shadow: 1px 0 0 #fff;
    box-shadow: 1px 0 0 #fff;
}

nav #login-trigger,
nav #signup a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 8px;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

nav #signup a {
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
/*
nav #login-trigger {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
    background: #fff;
}

nav #login-content {
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 999;
    background: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    padding: 15px;
    -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);
    -moz-border-radius: 3px 0 3px 3px;
    -webkit-border-radius: 3px 0 3px 3px;
    border-radius: 3px 0 3px 3px;
}

nav li #login-content {
    right: 0;
    width: 250px;
}
-------------------*/

#inputs input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #ccc inset;
    box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}
/*--------------------

#login #actions {
    margin: 10px 0 0 0;
}

#login #submit {
    background-color: #d14545;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
    background-image: -webkit-linear-gradient(top, #e97171, #d14545);
    background-image: -moz-linear-gradient(top, #e97171, #d14545);
    background-image: -ms-linear-gradient(top, #e97171, #d14545);
    background-image: -o-linear-gradient(top, #e97171, #d14545);
    background-image: linear-gradient(top, #e97171, #d14545);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #7e1515;
    float: left;
    height: 30px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #fff;
}

#login #submit:hover,
#login #submit:focus {
    background-color: #e97171;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
    background-image: -webkit-linear-gradient(top, #d14545, #e97171);
    background-image: -moz-linear-gradient(top, #d14545, #e97171);
    background-image: -ms-linear-gradient(top, #d14545, #e97171);
    background-image: -o-linear-gradient(top, #d14545, #e97171);
    background-image: linear-gradient(top, #d14545, #e97171);
}

#login #submit:active {
    outline: none;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #submit::-moz-focus-inner {
    border: none;
}

#login label {
    float: right;
    line-height: 30px;
}

#login label input {
    position: relative;
    top: 2px;
    right: 2px;
}
*/
html {
    background-color: #dedede;
}

.production {
    float: left;
    width: 25%;
    margin-right: 2%;
    font-size: 1.4em;
}

.decoration3 {
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.decoration2 {
    text-decoration: none;
    list-style: none;
    margin: 5% 0;
    color: #134449;
}

.decoration2:hover{
    text-decoration: underline;
}

.detail-object{
    width: 70%;
    margin-left: 30%;
    min-height: 110vh;
}

body {
    font-family: 'Cuprum', sans-serif;
    /*background: url("/images/back.png") no-repeat center center fixed;*/
}

.user_menu {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

div.user_menu>a {
    text-decoration: none;
    color: #171717;
}

.header_logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4% 9%;
    width: 350px;
    height: 105px;
}

.header_logo_login {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 30px;
    width: 350px;
    height: 105px;
}
.header_phone {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4% 9%;
    width: 350px;
    height: 105px;
}

@media only screen and (max-width: 380px) {
    img.header_phone {
        visibility: hidden;
    }
}

@media only screen and (min-width: 380px) {
    .sidebar {
        width: 100%;
        display: none;
    }
    .content {
        margin-left: 0px;
    }
}

.header {
    padding: 0 50px;
    height: 250px;
    background: #fff;
}

.header_login {
    padding: 0 50px;
    height: 155px;
    background: #fff;
}
.current-menu-item {
    background: linear-gradient(to top, #3b8c0b 0%, #cde70a 100%) !important;
}

.background_menu {
    border: 2px outset #e4e5e7;
    background: linear-gradient(to bottom, #1f626a 0%, #144f55 100%);
    height: 20%;
}

.login_header {
    text-shadow: 1px 1px 1px #0e0e0e;
    color: #ffffff;
    text-align: center;
    width: 80%;
    margin: 60px 10% 20px 10%;
    padding: 20px;
    background: linear-gradient(to top, #3b8c0b 0%, #cde70a 100%) !important;
    border: 2px solid #134449;
}
.text_header {
    font-size: 24px;
    text-shadow: 1px 1px 1px #0e0e0e;
    color: #ffffff;
    text-align: center;
    width: 82%;
    margin: 4% auto 2% auto;
    padding: 1%;
    background: linear-gradient(to top, #3b8c0b 0%, #cde70a 100%) !important;
    border: 2px solid #134449;
    display: block;;
}

.logo_text {
  left: 0;
  display: table;
  float: left;
}
.text_popup {
    text-align: center;
    padding: 5%;
    font-size: 2vw;
}

.text_contact {
    width: 500px;
    font-size: 24px;
    text-align: left;
    float: left;
}

.text_contact_main {
    font-size: 24px;
    text-align: center;
}

.text_form {
    font-size: 24px;
    text-align: center;
}

ul.menu_header li a {
    text-decoration: none;
    color: #ffffff;
}

.main_text {
    font-size: 24px;
}

#mainmenu {
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: -30px;
    padding: 0;
    float: left;
    z-index: 2;
}

#mainmenu ul {
    clear: left;
    position: relative;
    right: 50%;
    height: 30px;
    float: right;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0
}

#mainmenu ul li {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    position: relative;
    left: 50%;
    float: left;
    margin: 0;
    height: 40px;
    padding: 10px 50px;
    border: 1px solid #134449;
    background: linear-gradient(to bottom, #1f626a 0%, #144f55 100%);
}

#mainmenu ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px
}

#mainmenu ul li:hover a,
#mainmenu ul li.hover a,
#mainmenu ul li.active a {
    color: #fff
}

#mainmenu ul li:hover,
#mainmenu ul li.hover,
#mainmenu ul li.active {
    background: #666
}

.container {
    box-shadow: 0px 0px 2px 2px #c7c7c7;
    border-radius: 5px;
    background: #ffffff;
    width: 76%;
    margin: 5% auto;
    min-height: 70vh;
    padding: 5%;
}

.divider{
    background-color: #010101;
    height: 1px;
    margin: 2% 0;
}
/*For active url i use this color #3b8c0b for inactive this  #134449 */
.active {
    color: #3b8c0b !important;
}

.inactive {
    color: #134449 !important;
}

.side-block {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #c7c7c7;
    clear: none;
    margin-bottom: 2%;
}

.main_container {
    width: 20%;
    float: right;
}

#footer {
    padding: 20px 0;
    font-family: 'Cuprum', sans-serif;
    bottom: 0;
    color: #ffffff;
    background-color: #174e53;
    text-align: center;
    clear: both;
    float: left;
    width: 100%;
}

.single-pen {
    width: 16vw;
    height: 35vh;
    float: left;
    overflow: hidden;
    margin: 0 2% 25px 0;
    position: relative;
}

.developer{
    padding-right: 2%;
    float: right;
    text-decoration: none;
    color: bisque;
}

.decoration {
    padding-left: 2%;
    float: left;
    text-decoration: none;
    color: #ffffff;
}

#LargImg {
    border: solid 1px #ccc;
    padding: 5px;
    height: 400px;
    margin: 0 auto;
    display: block;
    width: 100%;
}

#thumbgallery{
    display: block;
    width: 100%;
    margin: 1% auto 5% auto;
}    

#thumb{
    width: 100px;
    height: 100px;P
    margin: 0 auto;
}

.thumb {
    display: inline-block;
    text-decoration: none;
    border: solid 1px #ccc;
    padding: 5px;;
}

.group{
    margin-left: 30%;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.object {
    height: 20vh;
    width: 100%;
}

.object-detail {
    height: 30vh;
    width: 100%;
}

.meta {
    text-align: center;
    margin-right: -4px;
    min-height: 36px;
    position: relative;
    font-size: 16px;
}

.cover-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 0 !important;
    z-index: 4000;
}

.height-img {
    overflow: hidden;
    width: 300px;
    height: 150px;
}

.blocks p {
    margin-bottom: 15px;
    position: relative;
}

.btn {
    display: block;
    float: left;
    height: 31px;
    line-height: 31px;
    padding: 0 10px;
    background: url(/images/bgbtn.jpg) repeat-x;
    color: #565e62;
    font-weight: bold;
    font-size: 11px;
    border: 1px solid #e1e0df;
    outline: none;
}

.text,
.textarea {
    padding: 5px 10px;
    height: 27px;
    border: 1px solid #ddd;
    color: #333;
    background: url(/images/bginput.jpg) repeat-x bottom #fff;
    position: relative;
    z-index: 2;
}

.text {
    width: 220px;
}

.textarea {
    height: 150px;
    width: 350px;
}

.blocks label {
    float: left;
    width: 100px;
    line-height: 37px;
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
    color: #666;
}
