{% extends 'app/layout.html' %} {% block content %}
<div class="container">
  <div class="text_contact_main">
    <h1>Доброго времени суток!</h1>
    <br>
    <p>Добро пожаловать на сайт компании Земля-Юга.РФ</p>
    <br>
  </div>
  <div class="main_text">
    <p>Наша команда будет рада Вам помочь реализовать Ваши мечты о тихом, экологически чистом земельном участке, где будет построен
      дом Вашей мечты!</p>
    <br>
    <p>Для Вас представлен раздел "Предложения", в котором Вы можете просмтотреть все объявления</p>
  </div>
</div>
{% endblock %}