{% extends 'app/layout.html' %} {% block content %}
<div class="container">
  <div class="text_contact">
    <h1>Контакты</h1>
    <br>

    <p>350062, Российская Федерация, Южный федеральный округ, Краснодарский край, город Краснодар, улица Атарбекова, 1
    </p>
    <br>

    <p>Телефон +7 (988) 246-10-10</p>
    <br>

    <p>E-mail: 89882461010@mail.ru</p>
    <br/>
    <br/>
  </div>
 <!-- <p class="text_form">Здесь Вы можете оставить нам информацию</p>

  <form method="POST" id="feedback-form">
    Как к Вам обращаться:
    <input type="text" name="nameFF" required placeholder="Иванов Иван Иванович" x-autocompletetype="name"> Email для связи:
    <input type="email" name="contactFF" required placeholder="example@mail.com" x-autocompletetype="email"> Ваше сообщение:
    <textarea name="messageFF" required placeholder="Ваш текст сообщения" rows="5"></textarea>
    <br/>
    <input type="submit" value="Отправить">
  </form>-->
</div>
{% endblock %}