{% extends 'app/layout.html' %} 
{% block content %}
    <div class="group">
        {% for proper in property %}
        <div class="single-pen">
            <a href="{% url 'object' proper.section.slug proper.slug %}" class="cover-link"></a>
            {% with photo=proper.propertyphoto_set.all|first %}
            <img src="{{photo.photo.url}}" class="object">
            {% endwith %}
            <div class="meta">
                <p>{{proper.name}}</p>
                <p>{{proper.price}}</p>
                <p>{{proper.country}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}