<!DOCTYPE html>
<html>
{% load staticfiles %}
{% url 'about' as about %}
{% url 'home' as home %}
{% url 'contact' as contact %}
{% url 'category' as category %}
{% url 'sub_category' as sub_category %}
{% url 'object' as object %}
{% load highlights %}
{% load counter %}


<head>
  <link rel="shortcut icon" href="{% static 'app/images/fav.ico' %}" type="image/x-icon">
  <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  <title>Земля-Юга.РФ</title>
  <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/feedback.css' %}">
</head>

<body>
  <script type="text/javascript" src="{% static 'app/script/galleryjs.js' %}" defer ></script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46170443-1', 'auto');
    ga('send', 'pageview');
  </script>
  <div class="header">
    <a href="{% url 'home' %}">
      <img src="{% static 'app/images/logo.png' %}" class="header_logo" alt="Земля-Юга.РФ">
    </a>
    <img src="{% static 'app/images/phone.png' %}" class="header_phone" alt="+7(988) 246-10-10">
  </div>
  <div id="mainmenu">
    <ul>
      <li {% if request.path == about %} class="current-menu-item" {% endif %}><a href="{% url 'about'%}">О нас</a></li>
      <li {% if request.path == home %} class="current-menu-item" {% elif active_object %} class="current-menu-item" {% elif active_category %} class="current-menu-item" {% endif %}><a href="{% url 'home' %}">Предложения</a></li>
      <li {% if request.path == contact %} class="current-menu-item" {% endif %}><a href="{% url 'contact' %}">Контакты</a></li>
    </ul>
  </div>
  <div class="background_menu">
    <blockquote>
      <p class="text_header">"Покупайте землю, её больше не производят."
        <cite>Марк Твен</cite>
      </p>
    </blockquote>
  </div>
  <div class="container">
    <div class="production">
            <h1><a href="{% url 'home' %}" class="decoration2">Категории:</a></h1>
            <ul>
                {% for category in categorys %}
                    <li class='decoration2' ><h3><a class="decoration2 {% active category.name %}" href="{% url 'category' category.slug %}">{{category.name}}({% counter category %})</a></h3></li>
                        <ul>
                        {% for sub in sub_categorys %}
                        {% if sub.section.id == category.id %}
                            <li class="decoration3" ><h4><a class="decoration3" href="#">{{sub.name}}({% counter sub %})</a></h4></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                {% endfor %}
            </ul>
        </div>
  {% block content %} {% endblock %}
  </div>
  <div id="footer">
    <a href="{% url 'home' %}" class="decoration">&copy; Земля-Юга {{year}}</a>
    <a href="http://alexeykhabibulin.ru/" class="developer">Разработчик Алексей Хабибулин</a>
  </div>

</body>

</html>