@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);
#feedback-form {
    font-family: 'Cuprum', sans-serif !important;
    margin: 20px auto 0 auto;
    font-size: 2vw;
    max-width: 400px;
    padding: 2%;
    border-radius: 3px;
    margin-left: 520px;
}

#feedback-form [required] {
    width: 100%;
    box-sizing: border-box;
    margin: 2px 0 2% 0;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2) inset, 0 0 transparent;
}

#feedback-form [required]:hover {
    border-color: #7eb4ea;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2) inset, 0 0 transparent;
}

#feedback-form [required]:focus {
    outline: none;
    border-color: #7eb4ea;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2) inset, 0 0 4px rgba(35, 146, 243, .5);
    transition: .2s linear;
}

#feedback-form [type="submit"] {
    font-family: 'Cuprum', sans-serif !important;
    font-size: 2vw;
    padding: 2% 5%;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2) inset;
    background: #00b4c6;
    color: #ecf0f1;
}

#feedback-form [type="submit"]:hover {
    background: #5c90c2;
}

#feedback-form [type="submit"]:focus {
    box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0, 0, 0, .8), inset 0 -1px 0 rgba(0, 0, 0, .05);
}